<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit=no" "  />
    <title>theFoodCampus</title>
    <!-- Favicon -->
    <link rel="icon" href="~/img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="~/style.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/theFoodCampus.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/start/jquery-ui.css">


</head>
<body>
    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Top Header Area -->
        <div class="top-header-area">
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-between">
                    <!-- Breaking News -->
                    <div class="col-12 col-sm-6">
                        <div class="breaking-news">
                            <div id="breakingNewsTicker" class="ticker">
                                <ul>
                                    <li><a href="#">EAT GOOD FEEL GOOD</a></li>
                                    <li><a href="#">Welcome to the Food Campus family.</a></li>
                                    <li><a href="#">Hello Delicious!</a></li>
                                    <li><a href="#">Wake up! IT'S FOOD o'clock</a></li>
                                    <li><a href="#">@ViewBag.Hebdate</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Top Social Info -->
                    <div class="col-12 col-sm-6">
                        <div class="top-social-info text-right">
                            <a href="https://nl.pinterest.com/"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                            <a href="https://he-il.facebook.com/homee.co.il/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="https://twitter.com/?lang=he"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="https://www.linkedin.com/home"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                        <div class="top-social-info text-center">
                            <div> @ViewBag.Hebdate</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="delicious-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="deliciousNav">

                        <!-- Logo -->
                        <a class="nav-brand" href="index"><img src="~/img/core-img/logo.png" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li class="active"><a href="@Url.Action("Index", "Home")">Home</a></li>
                                    @*<li>
                                    <a href="#">Pages</a>
                                    <ul class="dropdown">
                                    <li><a asp-action="index">Home</a></li>
                                    <li><a asp-action="about">About Us</a></li>
                                    <li><a asp-action="blogpost">Blog Post</a></li>
                                    <li><a asp-action="recipepost">Receipe Post</a></li>
                                    <li><a asp-action="contact">Contact</a></li>
                                    <li><a asp-action="elements">Elements</a></li>
                                    <li>
                                    <a href="#">Dropdown</a>
                                    <ul class="dropdown">
                                    <li><a href="home/index">Home</a></li>
                                    <li><a href="home/about">About Us</a></li>
                                    <li><a href="home/blog-post">Blog Post</a></li>
                                    <li><a href="home/recipepost">Receipe Post</a></li>
                                    <li><a href="home/contact">Contact</a></li>
                                    <li><a href="home/elements">Elements</a></li>
                                    <li>
                                    <a href="#">Dropdown</a>
                                    <ul class="dropdown">
                                    <li><a href="home/index">Home</a></li>
                                    <li><a href="home/about">About Us</a></li>
                                    <li><a href="home/blogpost">Blog Post</a></li>
                                    <li><a href="home/recipepost">Receipe Post</a></li>
                                    <li><a href="home/contact">Contact</a></li>
                                    <li><a href="home/elements">Elements</a></li>
                                    </ul>
                                    </li>
                                    </ul>
                                    </li>
                                    </ul>
                                    </li>*@
                                    <li>
                                        <a href="#">Recipes</a>
                                        <div class="megamenu">
                                            <ul class="single-mega cn-col-4">
                                                <li class="title">Holiday</li>
                                                <li><a href="@Url.Action("Index", "Home")">Index</a></li>
                                                <li><a href="@Url.Action("About", "Home")">about</a></li>
                                                <li><a href="@Url.Action("Blogpost", "Home")">Blog Post</a></li>

                                            </ul>
                                            <ul class="single-mega cn-col-4">
                                                <li class="title">Budget</li>
                                                <li><a href="@Url.Action("Index", "Home")">Index</a></li>
                                                <li><a href="@Url.Action("About", "Home")">about</a></li>
                                                <li><a href="@Url.Action("Blogpost", "Home")">Blog Post</a></li>

                                            </ul>
                                            <ul class="single-mega cn-col-4">
                                                <li class="title">Quick n' Easy'</li>
                                                <li><a href="@Url.Action("Index", "Home")">Index</a></li>
                                                <li><a href="@Url.Action("About", "Home")">about</a></li>
                                                <li><a href="@Url.Action("Blogpost", "Home")">Blog Post</a></li>

                                            </ul>
                                            <ul class="single-mega cn-col-4">
                                                <li class="title">Diet</li>
                                                <li><a href="@Url.Action("Index", "Home")">Index</a></li>
                                                <li><a href="@Url.Action("About", "Home")">about</a></li>
                                                <li><a href="@Url.Action("Blogpost", "Home")">Blog Post</a></li>

                                            </ul>
                                            <ul class="single-mega cn-col-4">
                                                <li class="title">Desert & Snack</li>
                                                <li><a href="@Url.Action("Index", "Home")">Index</a></li>
                                                <li><a href="@Url.Action("About", "Home")">about</a></li>

                                            </ul>
                                            <ul class="single-mega cn-col-4">
                                                <li class="title">Mains</li>
                                                <li><a href="@Url.Action("Index", "Home")">Index</a></li>
                                                <li><a href="@Url.Action("About", "Home")">about</a></li>
                                            </ul>
                                            <ul class="single-mega cn-col-4">
                                                <li class="title">Sides</li>
                                                <li><a href="@Url.Action("Index", "Home")">Index</a></li>
                                                <li><a href="@Url.Action("About", "Home")">about</a></li>
                                            </ul>

                                             <div class="single-mega cn-col-4">
                                            <div class="receipe-slider owl-carousel">
                                            <a href="#"><img src="img/bg-img/bg1.jpg" alt=""></a>
                                            <a href="#"><img src="img/bg-img/bg6.jpg" alt=""></a>
                                            </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li><a href="@Url.Action("RecipePost", "Home")">Receipies</a></li>
                                    <li><a href="@Url.Action("RecipePost", "Home")">4 Vegans</a></li>
                                    <li><a href="@Url.Action("Create", "Home")">Create</a></li>
                                    <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>
                                    <li><a href="@Url.Action("Index", "Recipe")">Recipes</a></li>
                                </ul>

                                <!-- Newsletter Form -->
                             @*   <div class="search-btn">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </div>*@

                        


                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <!-- ##### Follow Us Instagram Area Start ##### -->
    <div class="follow-us-instagram">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h5>Follow Us Instragram</h5>
                </div>
            </div>
        </div>
        <!-- Instagram Feeds -->
        <div class="insta-feeds d-flex flex-wrap">
            <!-- Single Insta Feeds -->
            <div class="single-insta-feeds">
                <img src="~/img/bg-img/insta1.jpg" alt="">
                <!-- Icon -->
                <div class="insta-icon">
                    <a href="https://www.instagram.com/thefoodcampus.recipes/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </div>
            </div>

            <!-- Single Insta Feeds -->
            <div class="single-insta-feeds">
                <img src="~/img/bg-img/insta2.jpg" alt="">
                <!-- Icon -->
                <div class="insta-icon">
                    <a href="https://www.instagram.com/thefoodcampus.recipes/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </div>
            </div>

            <!-- Single Insta Feeds -->
            <div class="single-insta-feeds">
                <img src="~/img/bg-img/insta3.jpg" alt="">
                <!-- Icon -->
                <div class="insta-icon">
                    <a href="https://www.instagram.com/thefoodcampus.recipes/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </div>
            </div>

            <!-- Single Insta Feeds -->
            <div class="single-insta-feeds">
                <img src="~/img/bg-img/insta4.jpg" alt="">
                <!-- Icon -->
                <div class="insta-icon">
                    <a href="https://www.instagram.com/thefoodcampus.recipes/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </div>
            </div>

            <!-- Single Insta Feeds -->
            <div class="single-insta-feeds">
                <img src="~/img/bg-img/insta5.jpg" alt="">
                <!-- Icon -->
                <div class="insta-icon">
                    <a href="https://www.instagram.com/thefoodcampus.recipes/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </div>
            </div>

            <!-- Single Insta Feeds -->
            <div class="single-insta-feeds">
                <img src="~/img/bg-img/insta6.jpg" alt="">
                <!-- Icon -->
                <div class="insta-icon">
                    <a href="https://www.instagram.com/thefoodcampus.recipes/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </div>
            </div>

            <!-- Single Insta Feeds -->
            <div class="single-insta-feeds">
                <img src="~/img/bg-img/insta7.jpg" alt="">
                <!-- Icon -->
                <div class="insta-icon">
                    <a href="https://www.instagram.com/thefoodcampus.recipes/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Follow Us Instagram Area End ##### -->
    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-12 h-100 d-flex flex-wrap align-items-center justify-content-between">
                    <!-- Footer Social Info -->
                    <div class="footer-social-info text-right">
                        <a href="https://nl.pinterest.com/"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                        <a href="https://he-il.facebook.com/homee.co.il/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="https://twitter.com/?lang=he"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="https://www.linkedin.com/home"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </div>
                    <!-- Footer Logo -->
                    <div class="footer-logo">
                        <a href="home/index"><img src="~/img/core-img/logo.png" alt=""></a>
                    </div>
                    <!-- Copywrite -->
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <!-- ##### All Javascript 
    Files ##### -->
    <!-- jQuery-2.2.4 js -->
@*    for some reason when adding this script than the automatino doesn't work'*@
@*    <script src="~/js/jquery/jquery-2.2.4.min.js"></script>*@
    <!-- Popper js -->
    <script src="~/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="~/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="~/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="~/js/active.js"></script>
</body>
</html>
