@model List<theFoodCampus.Models.Recipe>
@{
    ViewData["Title"] = "Home Page";
}
@*<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/start/jquery-ui.css">

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <input type="text" id="textPerson" name="personName" />

    <br />
    <input type="submit" id="btnSubmit" value="Submit" />
    <br />
    <br />
    @ViewBag.Message
}
@section scripts{
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js" integrity="sha256-eTyxS0rkjpLEo16uXTS0uVCS4815lc40K2iVpWDvdSY=" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#textPerson").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '/Home/AutoComplete/',
                        data: { "prefix": request.term },
                        type: "POST",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))
                        },
                        error: function (response) {
                            alert(response.responseText);
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        }
                    });
                },
                select: function (e, i) {
                    //get selected value
                    //$("#personNameValue").val(i.item.val);
                },
                minLength: 1
            });
        });
    </script>
}*@
@*<!-- ##### Hero Area Start ##### -->
<section class="hero-area">
@*    <div class="hero-slides owl-carousel">
        <!-- Single Hero Slide -->
        @foreach (Recipe item in @ViewBag.HeaderList)
        {
         <div class="single-hero-slide bg-img" style="background-image: url(images/@item.PhotoUrl);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="hero-slides-content" data-animation="fadeInUp" data-delay="100ms">
                            <h2 data-animation="fadeInUp" data-delay="300ms">@item.Name</h2>
                            <p data-animation="fadeInUp" data-delay="700ms">The best recipes for @item.RHoliday</p>
                            <a href="#" class="btn delicious-btn" data-animation="fadeInUp" data-delay="1000ms">See Receipe</a>
                        </div>
                    </div>
                </div>
            </div>
         </div>
        }*@

   @* <div class="hero-slides owl-carousel">
        <!-- Single Hero Slide -->
        <div class="single-hero-slide bg-img" style="background-image: url(img/bg-img/bg1.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="hero-slides-content" data-animation="fadeInUp" data-delay="100ms">
                            <h2 data-animation="fadeInUp" data-delay="300ms">Delicios Homemade Burger</h2>
                            <p data-animation="fadeInUp" data-delay="700ms">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tristique nisl vitae luctus sollicitudin. Fusce consectetur sem eget dui tristique, ac posuere arcu varius.</p>
                            <a href="#" class="btn delicious-btn" data-animation="fadeInUp" data-delay="1000ms">See Receipe</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single Hero Slide -->
        <div class="single-hero-slide bg-img" style="background-image: url(img/bg-img/bg6.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="hero-slides-content" data-animation="fadeInUp" data-delay="100ms">
                            <h2 data-animation="fadeInUp" data-delay="300ms">Delicios Homemade Burger</h2>
                            <p data-animation="fadeInUp" data-delay="700ms">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tristique nisl vitae luctus sollicitudin. Fusce consectetur sem eget dui tristique, ac posuere arcu varius.</p>
                            <a href="#" class="btn delicious-btn" data-animation="fadeInUp" data-delay="1000ms">See Receipe</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single Hero Slide -->
        <div class="single-hero-slide bg-img" style="background-image: url(img/bg-img/bg7.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="hero-slides-content" data-animation="fadeInUp" data-delay="100ms">
                            <h2 data-animation="fadeInUp" data-delay="300ms">Delicios Homemade Burger</h2>
                            <p data-animation="fadeInUp" data-delay="700ms">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tristique nisl vitae luctus sollicitudin. Fusce consectetur sem eget dui tristique, ac posuere arcu varius.</p>
                            <a href="#" class="btn delicious-btn" data-animation="fadeInUp" data-delay="1000ms">See Receipe</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
@*</section>*@
<!-- ##### Hero Area End ##### -->
<!-- ##### Top Catagory Area Start ##### -->
<section class="top-catagory-area section-padding-80-0">
    <div class="container">
        <div class="row">
            <!-- Top Catagory Area -->
            <div class="col-12 col-lg-6">
                <div class="single-top-catagory">
                    <img src="~/img/bg-img/bg2.jpg" alt="" >
                    <!-- Content -->
                    <div class="top-cta-content">
                        @if (ViewBag.holiday.Holiday != Holiday.None)
                        {
                            <h3>@ViewBag.holiday.Holiday</h3>
                        }
                        else
                        { 
                            <h3>@ViewBag.studentEvent</h3>
                        }
                        
                        <h6>@ViewBag.Hebdate</h6>
                        @if (ViewBag.holiday.Holiday != Holiday.None)
                        {

                            <a href=@Url.Action("Recipes","Home",new{ category = ViewBag.holiday.Holiday}) class="btn delicious-btn">See Full Receipe</a>
                        }
                        else
                        {
                            <a href=@Url.Action("Recipes","Home") class="btn delicious-btn">See Full Receipe</a>
                        }
                    </div>
                </div>
            </div>
            <!-- Top Catagory Area -->
            <div class="col-12 col-lg-6">
                <div class="single-top-catagory">
                    <img src="~/img/bg-img/bg3.jpg" alt="">
                    <!-- Content -->
                    <div class="top-cta-content">
                        <h3>Recipes for @ViewBag.weather.WeatherFeel weather</h3>
                        <h6>It's @ViewBag.weather.Temp ° </h6>
                        <a href=@Url.Action("Recipes","Home",new{ category = @ViewBag.weather.WeatherFeel}) class="btn delicious-btn">See Recipes for @ViewBag.weather.WeatherFeel weather</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Top Catagory Area End ##### -->
<!-- ##### Best Receipe Area Start ##### -->
<section class="best-receipe-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <h3>The best Recipes</h3>
                </div>
            </div>
        </div>

        </div>

        <div class="row">
            <!-- Single Best Receipe Area -->
                    @for (int i = 0; i < ViewBag.list.Count ; i++)
                    {
              <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-best-receipe-area mb-30">
                    <img src="~/images/@ViewBag.list[i].PhotoUrl" alt="">
                    <div class="receipe-content">
                        <a href="@Url.Action("RecipePost", "Home",new {id = ViewBag.list[i].Id})">
                            <h5>@ViewBag.list[i].Name</h5>
                        </a>
                        <div class="ratings">
                            @for (var j = 1; j <= ViewBag.list[i].Rating; j++)
                           { 
                               <i class="fa fa-star" aria-hidden="true"></i>
                           }
                            @for (var j = (ViewBag.list[i].Rating + 1); j <= 5; j++)
                            {
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                            }
                 @*         <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>*@
                        </div>
                    </div>
                </div>
            </div>
                    }
           



            @*<!-- Single Best Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-best-receipe-area mb-30">
                    <img src="~/img/bg-img/r1.jpg" alt="">
                    <div class="receipe-content">
                        <a href="@Url.Action("RecipePost", "Home")">
                            <h5>Sushi Easy Receipy</h5>
                        </a>
                        <div class="ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Best Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-best-receipe-area mb-30">
                    <img src="~/img/bg-img/r2.jpg" alt="">
                    <div class="receipe-content">
                        <a href="@Url.Action("RecipePost", "Home")">
                            <h5>Homemade Burger</h5>
                        </a>
                        <div class="ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Best Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-best-receipe-area mb-30">
                    <img src="~/img/bg-img/r3.jpg" alt="">
                    <div class="receipe-content">
                        <a href="@Url.Action("RecipePost", "Home")">
                            <h5>Vegan Smoothie</h5>
                        </a>
                        <div class="ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Best Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-best-receipe-area mb-30">
                    <img src="~/img/bg-img/r4.jpg" alt="">
                    <div class="receipe-content">
                        <a  href="@Url.Action("RecipePost", "Home")">
                            <h5>Calabasa soup</h5>
                        </a>
                        <div class="ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Best Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-best-receipe-area mb-30">
                    <img src="~/img/bg-img/r5.jpg" alt="">
                    <div class="receipe-content">
                        <a href="@Url.Action("RecipePost", "Home")">
                            <h5>Homemade Breakfast</h5>
                        </a>
                        <div class="ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Best Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-best-receipe-area mb-30">
                    <img src="~/img/bg-img/r6.jpg" alt="">
                    <div class="receipe-content">
                        <a href="@Url.Action("RecipePost", "Home")">
                            <h5>Healthy Fruit Desert</h5>
                        </a>
                        <div class="ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
@*    </div>*@
</section>
<!-- ##### Best Receipe Area End ##### -->
<!-- ##### CTA Area Start ##### -->
<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb-area bg-img bg-overlay" style="background-image: url(/images/BeatTheClock.jpeg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-text text-center">
                    <h2>Beat the clock recipes</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### CTA Area End ##### -->
<!-- ##### Small Receipe Area Start ##### -->

<section class="small-receipe-area section-padding-80-0">
    <div class="container">
        <div class="row">
            <p>@ViewBag.Category</p>
            @for (int i = 0; i < 9; i++)
            {
                <!-- Small Receipe Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-small-receipe-area d-flex">
                        <!-- Receipe Thumb -->
                        <div class="receipe-thumb">
                            <img src="~/images/@Model[i].PhotoUrl" alt="">
                        </div>
                        <!-- Receipe Content -->
                        <div class="receipe-content">
                            <span>@Model[i].Rdifficulty</span>
                            <a href="@Url.Action("RecipePost", "Home",new {id = Model[i].Id})">
                                <h5>@Model[i].Name</h5>
                            </a>
                            <div class="ratings">
                                @for (var j = 1; j <= @Model[i].Rating; j++)
                                {
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                }
                                @for (var j = (@Model[i].Rating + 1); j <= 5; j++)
                                {
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                }
                            </div>
                            <p>@Model[i].Comments.Count() Comments</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <a href=@Url.Action("Recipes","Home",new{ category = ""}) >See all recipes</a>
</section>
@*<section class="small-receipe-area section-padding-80-0">
    <div class="container">
        <div class="row">

            <!-- Small Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-small-receipe-area d-flex">
                    <!-- Receipe Thumb -->
                    <div class="receipe-thumb">
                        <img src="~/img/bg-img/sr1.jpg" alt="">
                    </div>
                    <!-- Receipe Content -->
                    <div class="receipe-content">
                        <span>January 04, 2018</span>
                        <a href="@Url.Action("RecipePost", "Home")">
                            <h5>Homemade italian pasta</h5>
                        </a>
                        <div class="ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>
                        <p>2 Comments</p>
                    </div>
                </div>
            </div>

            <!-- Small Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-small-receipe-area d-flex">
                    <!-- Receipe Thumb -->
                    <div class="receipe-thumb">
                        <img src="~/img/bg-img/sr2.jpg" alt="">
                    </div>
                    <!-- Receipe Content -->
                    <div class="receipe-content">
                        <span>January 04, 2018</span>
                        <a href="@Url.Action("RecipePost", "Home")">
                            <h5>Baked Bread</h5>
                        </a>
                        <div class="ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>
                        <p>2 Comments</p>
                    </div>
                </div>
            </div>

            <!-- Small Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-small-receipe-area d-flex">
                    <!-- Receipe Thumb -->
                    <div class="receipe-thumb">
                        <img src="~/img/bg-img/sr3.jpg" alt="">
                    </div>
                    <!-- Receipe Content -->
                    <div class="receipe-content">
                        <span>January 04, 2018</span>
                        <a href="@Url.Action("RecipePost", "Home")">
                            <h5>Scalops on salt</h5>
                        </a>
                        <div class="ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>
                        <p>2 Comments</p>
                    </div>
                </div>
            </div>

            <!-- Small Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-small-receipe-area d-flex">
                    <!-- Receipe Thumb -->
                    <div class="receipe-thumb">
                        <img src="~/img/bg-img/sr4.jpg" alt="">
                    </div>
                    <!-- Receipe Content -->
                    <div class="receipe-content">
                        <span>January 04, 2018</span>
                        <a href="@Url.Action("RecipePost", "Home")">
                            <h5>Fruits on plate</h5>
                        </a>
                        <div class="ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>
                        <p>2 Comments</p>
                    </div>
                </div>
            </div>

            <!-- Small Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-small-receipe-area d-flex">
                    <!-- Receipe Thumb -->
                    <div class="receipe-thumb">
                        <img src="~/img/bg-img/sr5.jpg" alt="">
                    </div>
                    <!-- Receipe Content -->
                    <div class="receipe-content">
                        <span>January 04, 2018</span>
                        <a href="@Url.Action("RecipePost", "Home")">
                            <h5>Macaroons</h5>
                        </a>
                        <div class="ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>
                        <p>2 Comments</p>
                    </div>
                </div>
            </div>

            <!-- Small Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-small-receipe-area d-flex">
                    <!-- Receipe Thumb -->
                    <div class="receipe-thumb">
                        <img src="~/img/bg-img/sr6.jpg" alt="">
                    </div>
                    <!-- Receipe Content -->
                    <div class="receipe-content">
                        <span>January 04, 2018</span>
                        <a href="@Url.Action("RecipePost", "Home")">
                            <h5>Chocolate tart</h5>
                        </a>
                        <div class="ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>
                        <p>2 Comments</p>
                    </div>
                </div>
            </div>

            <!-- Small Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-small-receipe-area d-flex">
                    <!-- Receipe Thumb -->
                    <div class="receipe-thumb">
                        <img src="~/img/bg-img/sr7.jpg" alt="">
                    </div>
                    <!-- Receipe Content -->
                    <div class="receipe-content">
                        <span>January 04, 2018</span>
                        <a href="@Url.Action("RecipePost", "Home")">
                            <h5>Berry Desert</h5>
                        </a>
                        <div class="ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>
                        <p>2 Comments</p>
                    </div>
                </div>
            </div>

            <!-- Small Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-small-receipe-area d-flex">
                    <!-- Receipe Thumb -->
                    <div class="receipe-thumb">
                        <img src="~/img/bg-img/sr8.jpg" alt="">
                    </div>
                    <!-- Receipe Content -->
                    <div class="receipe-content">
                        <span>January 04, 2018</span>
                        <ahref ="@Url.Action("RecipePost", "Home")">
                            <h5>Zucchini Grilled on peper</h5>
                        </a>
                        <div class="ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>
                        <p>2 Comments</p>
                    </div>
                </div>
            </div>

            <!-- Small Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-small-receipe-area d-flex">
                    <!-- Receipe Thumb -->
                    <div class="receipe-thumb">
                        <img src="~/img/bg-img/sr9.jpg" alt="">
                    </div>
                    <!-- Receipe Content -->
                    <div class="receipe-content">
                        <span>January 04, 2018</span>
                        <a href="@Url.Action("RecipePost", "Home")">
                            <h5>Chicken Salad</h5>
                        </a>
                        <div class="ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>
                        <p>2 Comments</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@
<!-- ##### Small Receipe Area End ##### -->
<!-- ##### Quote Subscribe Area Start ##### -->
<section class="quote-subscribe-adds">
    <div class="container">
        <div class="row align-items-end">
            <!-- Quote -->
            <div class="col-12 col-lg-4">
                <div class="quote-area text-center">
                    <span>"</span>
                    <h4>I won't be impressed with technology, untill I can download food'</h4>
                    <p>John Smith</p>
                    <div class="date-comments d-flex justify-content-between">
                        <div class="date">January 04, 2018</div>
                        <div class="comments">2 Comments</div>
                    </div>
                </div>
            </div>

            <!-- Advertizment -->
            <div class="col-12 col-lg-4">
                <div class="delicious-add">
                    <a href="https://milgapo.co.il/">
                        <img src="~/img/bg-img/milgaA.jpg" alt="">
                    </a>
                </div>
            </div>

            <!-- Advertizment -->
            <div class="col-12 col-lg-4">
                <div class="delicious-add">
                    <a href="https://www.bookdepository.com/Grokking-Algorithms-Aditya-Bhargava/9781617292231?redirected=true&utm_medium=Google&utm_campaign=Base1&utm_source=IL&utm_content=Grokking-Algorithms&selectCurrency=ILS&w=AFF9AU96SQH6ZVA8VTKG&gclid=Cj0KCQjwnvOaBhDTARIsAJf8eVNrhiuKGgMkD1R8em08DL1BmZNQcQPQr6f3XD6BGwyU1edC05VJlY8aAkAOEALw_wcB">
                        <img src="~/img/bg-img/algorithm!.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

                            
