@using theFoodCampus.Models
@model theFoodCampus.Models.Recipe
@{
    ViewData["Title"] = "Recipepost";
    Layout = "~/Views/Shared/_Layout.cshtml";

    // this is for the comments and rating
    var ratingSum = ViewBag.RatingSum;
    var ratingCount = ViewBag.RatingCount;

    decimal rating = 0;
    if (ratingCount > 0)
    {
        rating = ratingSum / ratingCount;
    }
    var totalRating = decimal.Parse(rating.ToString());
}

<!-- Favicon -->
<link rel="icon" href="~/img/core-img/favicon.ico">

@*Causess the page to be loaded twice!!! BIGG PROBLEMMM*@
@*<!-- Core Stylesheet -->
<link rel="stylesheet" href="style.css">*@

@if (ViewBag.alert == "true")
{
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong>Error!</strong> The image was detected as an inappropriate image, please try again
    </div>
}
<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb-area bg-img bg-overlay" style="background-image: url(/img/bg-img/breadcumb3.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-text text-center">
                    <h2>Recipe</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->

<div class="receipe-post-area section-padding-80">

    <!-- Receipe Post Search -->
    <div class="receipe-post-search mb-80">
        <div class="container">
            <form action="#" method="post">
                <div class="row">
                    <div class="col-12 col-lg-3">
                        <select name="select1" id="select1">
                            <option value="1">All Receipies Categories</option>
                            <option value="1">All Receipies Categories 2</option>
                            <option value="1">All Receipies Categories 3</option>
                            <option value="1">All Receipies Categories 4</option>
                            <option value="1">All Receipies Categories 5</option>
                        </select>
                    </div>
                    <div class="col-12 col-lg-3">
                        <select name="select1" id="select2">
                            <option value="1">All Receipies Categories</option>
                            <option value="1">All Receipies Categories 2</option>
                            <option value="1">All Receipies Categories 3</option>
                            <option value="1">All Receipies Categories 4</option>
                            <option value="1">All Receipies Categories 5</option>
                        </select>
                    </div>
                    <div class="col-12 col-lg-3">
                        <input type="search" name="search" placeholder="Search Receipies">
                    </div>
                    <div class="col-12 col-lg-3 text-right">
                        <button type="submit" class="btn delicious-btn">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Receipe Slider -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="single-mega cn-col-4">
                    <div class="receipe-slider owl-carousel">
                        <a href="#"><img src="img/bg-img/bg1.jpg" alt=""></a>
                        <a href="#"><img src="img/bg-img/bg6.jpg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* <div class="container">
    <div class="row">
    <!-- Top Catagory Area -->
    <div class="col-12 col-lg-6">
    <div class="single-top-catagory">
    <img src="~/images/@Model.PhotoUrl" alt="">
    <!-- Content -->
    <div class="top-cta-content">
    <h3>@Model.Name Recipe</h3>
    </div>
    </div>
    </div>
    </div>
    </div>*@

    <!-- Receipe Content Area -->
    <div class="receipe-content-area">
        <div class="container">

            <div class="row">
                <div class="col-12 col-md-8">
                    <div class="receipe-headline my-5">
                        <span>April 05, 2018</span>
                        <h2>@Model.Name</h2>
                        <div class="receipe-duration">
                            <h6>Prep: @ViewBag.PrepTime</h6>
                            <h6>Cook: @ViewBag.CookTime</h6>
                            <h6>Yields: @ViewBag.Yields</h6>
                        </div>
                    </div>
                </div>

                <!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
                <div class="col-12 col-md-4">
                    <div class="receipe-ratings text-right my-5">
                        <div class="ratings">
                            @for (var i = 1; i <= @ViewBag.RatingAverage; i++)
                            {
                                <span class="starGlowN"></span>
                            }
                            @for (var i = (@ViewBag.RatingAverage + 1); i <= 5; i++)
                            {
                                <span class="starFadeN"></span>
                            }
                            @* <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>*@
                        </div>
                    </div>
                </div>


            </div>

            <div class="row">
                <div class="col-12 col-lg-8">
                    @for (int i = 0; i < @Model.Instructions.Count; i++)
                    @*                        @foreach (var item in @Model.Instructions)*@
                    {
                        <div class="single-preparation-step d-flex">
                            <h4>@i</h4>
                            <p>@Model.Instructions[i].Step </p>
                        </div>
                    }
                </div>

                @* <!-- Single Preparation Step -->
                <div class="single-preparation-step d-flex">
                <h4>01.</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec varius dui. Suspendisse potenti. Vestibulum ac pellentesque tortor. Aenean congue sed metus in iaculis. Cras a tortor enim. Phasellus posuere vestibulum ipsum, eget lobortis purus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                </div>
                <!-- Single Preparation Step -->
                <div class="single-preparation-step d-flex">
                <h4>02.</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec varius dui. Suspendisse potenti. Vestibulum ac pellentesque tortor. Aenean congue sed metus in iaculis. Cras a tortor enim. Phasellus posuere vestibulum ipsum, eget lobortis purus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                </div>
                <!-- Single Preparation Step -->
                <div class="single-preparation-step d-flex">
                <h4>03.</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec varius dui. Suspendisse potenti. Vestibulum ac pellentesque tortor. Aenean congue sed metus in iaculis. Cras a tortor enim. Phasellus posuere vestibulum ipsum, eget lobortis purus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                </div>
                <!-- Single Preparation Step -->
                <div class="single-preparation-step d-flex">
                <h4>04.</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec varius dui. Suspendisse potenti. Vestibulum ac pellentesque tortor. Aenean congue sed metus in iaculis. Cras a tortor enim. Phasellus posuere vestibulum ipsum, eget lobortis purus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                </div>*@
            </div>

            <!-- Ingredients -->
            <div class="col-12 col-lg-4">
                <div class="ingredients">
                    <h4>Ingredients</h4>
                    @foreach (Ingredient item in @Model.Ingredients)
                    {
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id=@item.IngredientId>
                            <label class="custom-control-label" for=@item.RecipeId>@item.Amount @item.MeasurementUnit @item.Name</label>
                        </div>
                    }

                    <!-- Custom Checkbox -->
                    @*<div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                    <label class="custom-control-label" for="customCheck1">4 Tbsp (57 gr) butter</label>
                    </div>

                    <!-- Custom Checkbox -->
                    <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck2">
                    <label class="custom-control-label" for="customCheck2">2 large eggs</label>
                    </div>

                    <!-- Custom Checkbox -->
                    <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck3">
                    <label class="custom-control-label" for="customCheck3">2 yogurt containers granulated sugar</label>
                    </div>

                    <!-- Custom Checkbox -->
                    <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck4">
                    <label class="custom-control-label" for="customCheck4">1 vanilla or plain yogurt, 170g container</label>
                    </div>

                    <!-- Custom Checkbox -->
                    <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck5">
                    <label class="custom-control-label" for="customCheck5">2 yogurt containers unbleached white flour</label>
                    </div>

                    <!-- Custom Checkbox -->
                    <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck6">
                    <label class="custom-control-label" for="customCheck6">1.5 yogurt containers milk</label>
                    </div>

                    <!-- Custom Checkbox -->
                    <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck7">
                    <label class="custom-control-label" for="customCheck7">1/4 tsp cinnamon</label>
                    </div>

                    <!-- Custom Checkbox -->
                    <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck8">
                    <label class="custom-control-label" for="customCheck8">1 cup fresh blueberries </label>
                    </div>*@
                </div>
            </div>
        </div>

        @*         <div class="row">
        <div class="col-12">
        <div class="section-heading text-left">
        <h3>Nutrients</h3>
        </div>
        </div>
        </div>

        This is if we would do a for loop for the nutrients table
        <div class="row">
        <div class="col-12 col-lg-8">
        @for (int i = 1; i < @ViewBag.Nutrients.Count; i++)
        {
        <div class="single-preparation-step d-flex">
        <p>@ViewBag.Nutrients[i].Value @ViewBag.Nutrients[i].UnitName @ViewBag.Nutrients[i].Name  </p>
        </div>
        }
        </div>
        *@
        <div class="container">
            <div class="row">
                <div class="col-60">
                    <div class="receipe-slider owl-carousel">
                        @for (int imgIndex = 0; imgIndex < ViewBag.nextRecipes.Count; imgIndex++)
                        {
                            var a = ViewBag.nextRecipes[imgIndex].PhotoUrl;
                            <img src="~/images/@ViewBag.nextRecipes[imgIndex].PhotoUrl" alt="" width="20" height="20">
                        }
                        @*<img src="~/images/@Model.PhotoUrl" alt="">*@
                        @*                    <img src="~/img/bg-img/bg5.jpg" alt=""> here i want to have the recommended recipes picture meanin take the model.PhotoUrl and display if clicked go to recipe post of pic- it will call the action of post
                        <img src="~/img/bg-img/bg5.jpg" alt="">*@
                    </div>
                </div>
            </div>
        </div>


        <div class="col-12 col-lg-4">
            <section class="performance-facts">
                <header class="performance-facts__header">
                    <h1 class="performance-facts__title">Nutrition Facts</h1>
                    <p>Serving Size 1/2 cup (about 82g)
                    <p>Serving Per Container 8</p>
                </header>
                <table class="performance-facts__table">
                    <thead>
                        <tr>
                            <th colspan="3" class="small-info">
                                Amount Per Serving
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="thick-row">
                            <td colspan="3" class="small-info">
                                <b>% Daily Value*</b>
                            </td>
                        </tr>
                        @foreach (Nutrient.Root item in ViewBag.Nutrients)
                        {
                            <tr>
                                <th colspan="2">
                                    @if (item.Name.IndexOf("Carbohydrate") > 0)
                                    {
                                        <b>Carbohydrate</b>
                                    }
                                    @if (item.Name.IndexOf("Sugar") > 0)
                                    {
                                        <b>Sugar</b>
                                    }
                                    @if (!(item.Name.IndexOf("Sugar") > 0) && !(item.Name.IndexOf("Carbohydrate") > 0))
                                    {
                                        <b>@item.Name </b>
                                    }

                                    @item.Value @item.UnitName
                                </th>
                                <td>
                                    @if (item.DailyPercent != null)
                                    {
                                        <b>@item.DailyPercent %</b>
                                    }
                                </td>
                            </tr>
                        }
                        @*<tr>
                        <th colspan="2">
                        <b>Calories</b>
                        200
                        </th>
                        </tr>

                        <tr>
                        <th colspan="2">
                        <b>Total Fat</b>
                        14g
                        </th>
                        <td>
                        <b>22%</b>
                        </td>
                        </tr>

                        <tr>
                        <th colspan="2">
                        <b>Cholesterol</b>
                        55mg
                        </th>
                        <td>
                        <b>18%</b>
                        </td>
                        </tr>
                        <tr>
                        <th colspan="2">
                        <b>Sodium</b>
                        40mg
                        </th>
                        <td>
                        <b>2%</b>
                        </td>
                        </tr>
                        <tr>
                        <th colspan="2">
                        <b>Total Carbohydrate</b>
                        17g
                        </th>
                        <td>
                        <b>6%</b>
                        </td>
                        </tr>
                        <tr class="thick-end">
                        <th colspan="2">
                        <b>Protein</b>
                        3g
                        </th>
                        <td>
                        </td>
                        </tr>*@
                    </tbody>
                </table>

                @* <table class="performance-facts__table--grid">
                <tbody>
                <tr>
                <td colspan="2">
                Vitamin A
                10%
                </td>
                <td>
                Vitamin C
                0%
                </td>
                </tr>
                <tr class="thin-end">
                <td colspan="2">
                Calcium
                10%
                </td>
                <td>
                Iron
                6%
                </td>
                </tr>
                </tbody>
                </table>*@
            </section>

            <!-- Receipe Slider -->
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="receipe-slider owl-carousel">
                            @foreach (var item in @Model.Images)
                            {
                                //       "~/images/0f5a4cf0-e5b1-4495-b1d8-b045eb72be19_bb91210bd6185d7119aaa54d4ca2f6c4.jpg"
                                //<img src="~/images/0f5a4cf0-e5b1-4495-b1d8-b045eb72be19_bb91210bd6185d7119aaa54d4ca2f6c4.jpg">
        @*                        if (@item.image.StartsWith("Http") == true)
                                {
                                    <img src=@item.image>
                                }
                                else
                                {
                                    <img src="~/images/"@item.image>
                                }*@
                            }                          
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="row">
            <div class="col-md-14">
                <form asp-action="Imagga" asp-controller="Home" enctype="multipart/form-data" method="post">
                        <p class="control-p">We would like u to add ur own image:))</p>
            
                    <div class="form-group" hidden>
                        <input asp-for="Name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ImageString" class="control-label">Upload url</label>
                        <input asp-for="ImageString" class="form-control"pattern="https?://.+[a-z0-9._%+-]+[.jpg/.png]$" title="The link must be in url form. Must be of jpg or png type only!"/>
                        <span asp-validation-for="ImageString" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ImageForm" class="control-label">Upload File</label>
                        <input asp-for="ImageForm" type="file" class="form-control" />
                        <span asp-validation-for="ImageForm" class="text-danger"></span>
                    </div>
                    <div class="form-group" hidden>
                        <input asp-for="Id" class="form-control" />
                        <span asp-validation-for="Id" class="text-danger"></span>
                    </div>
                    <div class="form-group" hidden>
                        <input asp-for="Tag" class="form-control" />
                        <span asp-validation-for="Tag" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="submit" class="btn btn-primary" />
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-left">
                        <h3>Leave a comment</h3>
                    </div>
                </div>
            </div>
        </div>
        @*        <div>
        <span class="starFadeN" id="sRate1"></span>
        <span class="starFadeN" id="sRate2"></span>
        <span class="starFadeN" id="sRate3"></span>
        <span class="starFadeN" id="sRate4"></span>
        <span class="starFadeN" id="sRate5"></span>
        </div>*@


        @*        <div class="btn delicious-btn">
        @using (Html.BeginForm("Imagga", "Home", FormMethod.Post))
        {
        @Html.AntiForgeryToken()
        <p>we would love u to upload ur Campuse-Made :))</p>
        <input asp-for="ImageString" type="url" placeholder="enter image url" required />
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Name" />
        <input type="hidden" asp-for="Tag" />
        <input type="submit" id="btnImagga" />
        }
        </div>
        *@
        
        </div>
        <!--PICTURE OF CUSTOMER DISPLAY-->
        @foreach (var c in @Model.Comments)
        {
            <hr />
            <div class="row">
                <div class="col-md-3">
                    <i>@c.CommentedOn</i>
                    <br />
                    @for (var i = 1; i <= c.Rating; i++)
                    {
                        <span class="starGlowN"></span>
                    }
                    @for (var i = (c.Rating + 1); i <= 5; i++)
                    {
                        <span class="starFadeN"></span>
                    }
                </div>
                <div class="col-md-9">
                    @Html.Raw(c.CommentDescription.Replace("\n", "<br />"))
                </div>
            </div>
        }
        <hr />

        <dl class="dl-horizontal">
            <dt>
                Comment
            </dt>

            <dd>
                <div class="commentBox">
                    @using (Html.BeginForm("Add", "Home", FormMethod.Post, new { onsubmit = "return SubmitComment()" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    Your rating <span style="font-weight:normal;">(1 start is bad, 5 star is good)</span>
                                </label>
                                <div class="col-md-7">
                                    <div onmouseout="CRateSelected()">
                                        <span class="starFade" id="Rate1" onclick="CRate(1)" onmouseover="CRateOver(1)" onmouseout="CRateOut(1)"></span>
                                        <span class="starFade" id="Rate2" onclick="CRate(2)" onmouseover="CRateOver(2)" onmouseout="CRateOut(2)"></span>
                                        <span class="starFade" id="Rate3" onclick="CRate(3)" onmouseover="CRateOver(3)" onmouseout="CRateOut(3)"></span>
                                        <span class="starFade" id="Rate4" onclick="CRate(4)" onmouseover="CRateOver(4)" onmouseout="CRateOut(4)"></span>
                                        <span class="starFade" id="Rate5" onclick="CRate(5)" onmouseover="CRateOver(5)" onmouseout="CRateOut(5)"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <textarea asp-for="CommentText" id="Comment" required rows="5" style="width:100%;" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="hidden" asp-for="Id" />
                                    <input type="hidden" name="Rating" id="Rating" value="0" />
                                    <input type="submit" id="btnRegister" name="btnRegister" value="Submit Comment" class="btn btn-warning" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </dd>

        </dl>
    </div>
</div>






<script>
    //src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"

    function SubmitComment() {
        if ($("#Rating").val() == "0") {
            alert("Please rate this service provider.");
            return false;
        }
        else {
            return true;
        }
    }
    function CRate(r) {
        $("#Rating").val(r);
        for (var i = 1; i <= r; i++) {
            $("#Rate" + i).attr('class', 'starGlow');
        }
        // unselect remaining
        for (var i = r + 1; i <= 5; i++) {
            $("#Rate" + i).attr('class', 'starFade');
        }
    }
    function CRateOver(r) {
        for (var i = 1; i <= r; i++) {
            $("#Rate" + i).attr('class', 'starGlow');
        }
    }
    function CRateOut(r) {
        for (var i = 1; i <= r; i++) {
            $("#Rate" + i).attr('class', 'starFade');
        }
    }
    function CRateSelected() {
        var setRating = $("#Rating").val();
        for (var i = 1; i <= setRating; i++) {
            $("#Rate" + i).attr('class', 'starGlow');
        }
    }

    function SCRate() {
        for (var i = 1; i <= @totalRating; i++) {
            $("#sRate" + i).attr('class', 'starGlowN');
        }
    }
    $(function () {
        SCRate();
    });


</script>

<style>
    /* Set padding to keep content from hitting the edges */
    .body-content {
        padding-left: 15px;
        padding-right: 15px;
    }

    /* Override the default bootstrap behavior where horizontal description lists
                           will truncate terms that are too long to fit in the left column
                        */
    .dl-horizontal dt {
        white-space: normal;
    }

    /* Set width on the form input elements since they're 100% wide by default */
    input,
    select,
    textarea {
        max-width: 280px;
    }


    .commentBox {
        background-color: #efefef;
        padding: 10px;
        border-radius: 10px;
    }

    .starFade {
        background-image: url('/Images/StarFade.gif');
        min-width: 30px;
        min-height: 30px;
        display: inline-block;
        cursor: pointer;
    }

    .starFadeN {
        background-image: url('/Images/StarFade.gif');
        min-width: 30px;
        min-height: 30px;
        display: inline-block;
    }

    .starGlow {
        background-image: url('/Images/starglow.gif');
        min-width: 30px;
        min-height: 30px;
        display: inline-block;
        cursor: pointer;
    }

    .starGlowN {
        background-image: url('/Images/starglow.gif');
        min-width: 30px;
        min-height: 30px;
        display: inline-block;
    }
</style>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    .alert {
        padding: 20px;
        background-color: #f44336;
        color: white;
    }

    .closebtn {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
    }

        .closebtn:hover {
            color: black;
        }
</style>

