@using theFoodCampus.Models
@model theFoodCampus.Models.Recipe

@{
    ViewData["Title"] = "Details";
}


<div class="col-11 mx-auto pt-0">
    <div class="card">
                <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-text text-center">
                        <h2>Recipe</h2>
                    </div>
                </div>
            </div>
        <form ID="ApplicantForm" enctype="multipart/form-data" asp-action="Details">
            <div class="row">
                <div class=col-md-6>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control-plaintext" readonly />
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Kashrut</label>
                        <input asp-for="RKashrut" class="form-control-plaintext" readonly />
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Difficulty</label>
                        <input asp-for="Rdifficulty" class="form-control-plaintext" readonly />
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Preper Time</label>
                        <input asp-for="RPrepTime" class="form-control-plaintext" readonly />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Holiday</label>
                        <input asp-for="RHoliday" class="form-control-plaintext" readonly />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Event</label>
                        <input asp-for="REvent" class="form-control-plaintext" readonly />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Weather</label>
                        <input asp-for="RWeather" class="form-control-plaintext" readonly />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Type</label>
                        <input asp-for="RType" class="form-control-plaintext" readonly />
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Diet</label>
                        <input asp-for="RDiet" class="form-control-plaintext" readonly />
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Budget</label>
                        <input asp-for="RBudget" class="form-control-plaintext" readonly />
                    </div>
                </div>

                <div class=col-md-6>
                    <div class="form-group">
                        <label asp-for="Tag" class="control-label"></label>
                        <input asp-for="Tag" class="form-control-plaintext" readonly />
                    </div>
                </div>


                <div class="col-md-6 group">
                    @if (@Model.PhotoUrl != null)
                    {
                        @if (@Model.PhotoUrl.StartsWith("http") == true)
                        {
                            <img src=@Model.PhotoUrl class="img-fluid"
                         width="200" height="200" style="border:1px; margin-top:20px; "/>
                        }
                        else
                        {
                            <img src="~/images/@Model.PhotoUrl" class="img-fluid"
                         width="200" height="200" style="border:1px; margin-top:20px; "/>
                        }
                    }
                   
                </div>


                <div class="container col-12 btn-group">
                    <div class="container col-6 pl-0 lm-0">

                        <div class="col-md-12 p-0 m-0 bg-light" @*style="height:200px; overflow-y:auto;"*@>
                            <table id="ExpTable" class="table table-sm CodesTable">
                                <thead>
                                    <tr>
                                        <th>
                                            Ingredient Name
                                        </th>
                                        <th>
                                            Amount
                                        </th>
                                        <th>
                                            MeasurementType
                                        </th>
                                        <th style="width:75px;">
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @*@foreach (var item in Model.Experiences)*@
                                    @for (int i = 0; i < Model.Ingredients.Count; i++)
                                    {
                                        <tr>
                                            <td>
                                                @*@Html.EditorFor(x=>x.Experiences[i].CompanyName,new{AddHtmlAttributeValue=new{@class="form-control"}})*@
                                                <input asp-for="@Model.Ingredients[i].Name" class=" form-control-plaintext" readonly />
                                                <span asp-validation-for="@Model.Ingredients[i].Name" class="text-danger" readonly></span>

                                                @*<input asp-for="@item.CompanyName" class="form-control" />*@
                                            </td>
                                            <td>
                                                @*@Html.EditorFor(x=>x.Experiences[i].Designation,new{AddHtmlAttributeValue=new{@class="form-control"}})*@
                                                <input asp-for="@Model.Ingredients[i].Amount" class=" form-control-plaintext" readonly />

                                                @*<input asp-for="@item.Designation" class="form-control" />*@
                                            </td>
                                            <td>
                                                @* <input type="hidden" asp-for="@Model.Ingredients[i].IsDeleted" />*@
                                                @*@Html.EditorFor(x=>x.Experiences[i].YearsWorked,new{AddHtmlAttributeValue=new{@class="form-control"}})*@
                                                <input type="hidden" asp-for="@Model.Ingredients[i].IsDeleted" />
                                                <select readonly asp-for="@Model.Ingredients[i].MeasurementUnit" class=" form-control-plaintext"  asp-items="Html.GetEnumSelectList<MeasurementType>()">
                                                    <option value="">Choose out of following options</option>
                                                </select>
                                                @*<input asp-for="@item.YearsWorked" class="form-control" />*@
                                            </td>
                                            <td style="width:60px">
                                                @* <button id="btndummy-@i" type="button" class="btn btn-sm invisible">
                                            Dummy
                                            </button>*@


                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                    @* add empty colum in the middle in order to have space in the middle*@
                    <div class="container col-1">
                    </div>

                    <div class="container col-5">
                        <div class="col-md-12 p-0 m-0 bg-light">
                            <table id="InstructionTable" class="table table-sm CodesTable">
                                <thead>
                                    <tr>
                                        <th>
                                            Instruction
                                        </th>
                                        <th style="width:60px">
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.Instructions.Count; i++)
                                    {
                                        <tr>
                                            <td>
                                                <input type="hidden" asp-for="@Model.Instructions[i].IsHidden" />
                                                <p class="form-control-plaintext" readonly>@Model.Instructions[i].Step"</p>

@*                                                <input asp-for="@Model.Instructions[i].Step" class="form-control-plaintext" readonly />
*@                                            </td>
                                            <td style="width:60px">
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>


                @*to fix issue that last column is cloned*@
                @*here we will store the index of the last row*@

                <input type="hidden" id="hdnLastIndex" value="0" />

                <div class="col-12 btn-group">
                    <div class="col-6 form-check-group text-right p-2">
                        <a asp-action="Index" class="btn btn-secondary">&nbsp;Back&nbsp;</a>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>


@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
